<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">

    function getParameterByName(name, url) {
        if (!url) {
          url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    // Load the Visualization API and the piechart package.
    google.charts.load('current', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(initChart);

    var data, chart;
    var options = {
        vAxes: [{
          title: 'co2',
          baseline: 1000,
          baselineColor: 'red',
          maxValue: 2000
        },
        {
          title: 'temp',
          maxValue: 30
        }],
        series:{
          0: {targetAxisIndex: 0, color: 'blue', lineWidth: 3},
          1: {targetAxisIndex: 1, color: 'orange', lineWidth: 3}
        }
    };

    function initChart() {
        data = new google.visualization.DataTable();
        data.addColumn('string', 'Day');
        data.addColumn('number', 'ppm');
        data.addColumn('number', 'temp');
        chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        updateChart();
    }

    var data_url = "co2/", timeout = 5000;
    var limit = getParameterByName('limit')
    if (getParameterByName('pwm')) {
        data_url = "co2?pwm=1";
        if (limit)
          data_url = data_url + '&limit=' + limit;
        timeout = 1000
    } else
    {
        if (limit)
          data_url = data_url + '?limit=' + limit;
    }

    function updateChart() {
      var jsonData;
      try {
          jsonData = $.ajax({
              url: data_url,
              dataType: "json",
              async: false
          }).responseText;
      } catch (err) {
          console.log(err);
      }
       if (jsonData) {
          data.removeRows(0, data.getNumberOfRows());
          var rows = JSON.parse(jsonData)['rows'];
          if (rows.length) {
              var current_co2_value = rows[rows.length - 1][1];
              var current_temp_value = rows[rows.length - 1][2];
              options['title'] = 'current co2 level : ' + current_co2_value + ' ppm, temp : ' + current_temp_value;
          }
          data.addRows(rows);
          // Instantiate and draw our chart, passing in some options.
          chart.draw(data, options);
      }

      setTimeout(updateChart, timeout);
    }

    </script>
  </head>

  <body>
    <div>
      <a href="/">UART data</a>&nbsp;
      <a href="/?limit=60">UART data (10 min)</a>&nbsp;
      <a href="/?pwm=1">PWM data</a>&nbsp;
      <a href="/?pwm=1&limit=600">PWM data (10 min)</a>&nbsp;
    </div>
    <div id="chart_div" style="width: 99%; height: 95%;"></div>
  </body>
</html>