<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">

    // Load the Visualization API and the piechart package.
    google.charts.load('current', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(initChart);

    var data, chart;
    var options = {
        vAxes: [{
          title: 'co2',
          baseline: 1000,
          baselineColor: 'red',
          maxValue: 2000
        },
        {
          title: 'temp',
          maxValue: 30
        }],
        series:{
          0: {targetAxisIndex: 0, color: 'blue', lineWidth: 3},
          1: {targetAxisIndex: 1, color: 'orange', lineWidth: 3}
        }
    };

    function initChart() {
        data = new google.visualization.DataTable();
        data.addColumn('string', 'Day');
        data.addColumn('number', 'ppm');
        data.addColumn('number', 'temp');
        chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        updateChart();
    }

    function updateChart() {
      var jsonData;

      try {
          jsonData = $.ajax({
              url: "co2/",
              dataType: "json",
              async: false
          }).responseText;
      } catch (err) {
          console.log(err);
      }
       if (jsonData) {
          data.removeRows(0, data.getNumberOfRows());
          var rows = JSON.parse(jsonData)['rows'];
          if (rows.length) {
              var current_co2_value = rows[rows.length - 1][1];
              var current_temp_value = rows[rows.length - 1][2];
              options['title'] = 'current co2 level : ' + current_co2_value + ' ppm, temp : ' + current_temp_value;
          }
          data.addRows(rows);
          // Instantiate and draw our chart, passing in some options.
          chart.draw(data, options);
      }

      setTimeout(updateChart, 5000);
    }

    </script>
  </head>

  <body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div" style="position: absolute; width: 99%; height: 99%; top: 0; right: 0; bottom: 0; left: 0;"></div>
  </body>
</html>